@import './variables.scss';
@import './header.scss';
@import './footer.scss';

@import './page-one.scss';
@import './page-two.scss';

.main-body {
  h1 {
    color: $dark-blue;
  }

  label {
    color: $dark-blue;
  }

  button.btn.btn-custom,
  a.btn.btn-custom {
    color: white;
    background-color: $dark-blue;
    border-color: $dark-blue;

    &:hover {
      color: white;
      background-color: $blue;
      border-color: $blue;
    }
  }
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
  span {
    &.key {
      display: inline-block;
      height: 1rem;
      width: 1rem;
      border-radius: 5px;
      &.available {
        background-color: $button-available;
        &::after {
          margin-left: 1.5rem;
          content: 'Available';
        }
      }
      &.unavailable {
        background-color: $button-unavailable;
        &::after {
          margin-left: 1.5rem;
          content: 'Unavailable';
        }
      }
    }
  }
}

.seat-row {
  text-align: center;

  button.seat-preview {
    pointer-events: none;

    &.available:hover {
      background-color: $button-available;
      border-color: $button-available;
    }
    &.unavailable:hover {
      background-color: $button-unavailable;
      border-color: $button-unavailable;
    }
  }
}
